@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', Arial, sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color:#fff;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #fff;
}

  
h4 {
    font-size: 20px;
    color: #fff;
}

h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 12px;
    color: #fff;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

body {
    width: 100%;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #282834;
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#mobile {
    display: none;
    align-items: center;
}

#close {
    display: none;
}

#navbar i {
    color: #fff;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a,
#navbar li i {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li i:hover,
#navbar li a.active,
#navbar li i.active {
    color: #088178;
}

#navbar li a.active::after,
#navbar li i.active::after,
#navbar li a:hover::after,
#navbar li i:hover::after {
    content: "";
    width: 30%;
    height: 2px;
    background: #088178;
    position: absolute;
    bottom: -4px;
    left: 20px;
}

#banner {
    background-image: url("img/homebanner.jpg");
    height: 80vh;
    width:100%;
    padding: 50px 80px;
    background-size: cover;
}

#banner h1 {
    color: #fff;
    font-family: 'Playfair Display', sans-serif;
    padding: 10px 0;
}

#banner h4 {
    color: #fff;
    font-family: 'Playfair Display', sans-serif;
}

#banner button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #3498db;
    border-radius: 8px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    font-weight: 700;
    font-family: 'Playfair Display', sans-serif;
}

#banner button:hover {
    background-color: #fff;
    color: #314959
}

#product1 {
    text-align: center;
    background: #314959
}

#product1 .product-container{
    display: flex;
    align-items: flex-start;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .product {
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid;
    border-color: #12274a;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.01);
    margin: 15px 10px;
    transition: 0.2s ease;
    position: relative;
}

#product1 .product:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
    background-color: rgb(222, 90, 213);
}

#product1 .product img{
    width: 100%;
    border-radius: 20px;
}

#product1 .product .desc{
    text-align: start;
    padding: 10px 0;
}

#product1 .product .desc span{
    color: #fff;
    font-size: 12px;
}

#product1 .product .desc h5{
    color: #fff;
    font-size: 15px;
    padding: 7px 0;
}

#product1 .product .desc i {
    font-size: 12px;
    color: rgb(236, 158, 215)
}

#product1 .product .cart {
    width: 40px;
    height: 40px;
    line-height: 40px;
    color: darkblue;
    border-radius: 50px;
    background-color: #fff;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

#product1 .product .cart:hover {
    background-color: #088178;
}

#actionbanner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url(img/actionbanner.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center-top;
    width: 100%;
}

#actionbanner h2 {
    padding: 10px;
    color: #314959;
    font-size: 30px;
}

#actionbanner h4 {
    color: #314959;
}

#actionbanner h2 span {
    color: rgb(235, 127, 206);
}

button.banners {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: 0;
    border-radius: 8px;
    color: #fff;
    background-color: #314959;
    cursor: pointer;
    font-weight: 700;
    font-family: 'Playfair Display', sans-serif;
}

button.banners:hover {
    background: rgb(235, 127, 206);
}

#sm_banner {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #314959;
}

#sm_banner .banner-box {
    display: flex;
    background: #314959;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url(img/shippingbanner1.jpg);
    height: 50vh;
    background-size: cover;
    background-position: center;
    min-width: 540px;
}

#sm_banner h2 {
    padding-top: 10px;
    padding-bottom:20px;
    padding: 10px 5px 20px 5px;
    font-size: 30px;
}

#sm_banner h4 {
    padding: 0;
}

#info_banner {
    background: #282834;
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

#info_banner .infotext h4 {
    padding: 5px 0;
}

#info_banner input {
    height:2.5rem;
    padding: 0 1.25em;
    font-size: 14px;
    width: 96%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#info_banner .form {
    display: flex;
    width:40%;
}

#info_banner .form button {
    display: inline-block;
    white-space: nowrap;
    padding: 5px 5px;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    border: 0;
    border-radius: 8px;
    color: #fff;
    background-color: #314959;
    cursor: pointer;
    font-weight: 700;
    width:23%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

footer {
    background-color: #282834;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer .col_install {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

footer a {
    font-size: 12px;
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
}

footer p {
    font-size: 12px;
    color: #fff;
    margin: 0 0 8px 0;
}

footer h4 {
    font-size: 14px;
    padding-bottom: 14px;
}

footer .follow i {
    color: #fff;
    cursor: pointer;
}

footer .col_install .row img {
    border: 1px solid #fff;
    border-radius: 6px;
}

footer .col_install img {
    margin: 5px 0 5px 0;
}

footer .follow i:hover,
footer a:hover {
    color:rgb(236, 158, 215);
}

@media (max-width:810px) {
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 300px;
        background-color: #243b4a;
        padding: 80px 0 10px 0;
        transition: 0.3s;
    }
    #navbar.active {
        right: 0px;
    }
    #navbar li {
        margin-bottom: 25px;
    }
    #mobile {
        display: flex;
        align-items: center;
    }

    #mobile i {
        color: #fff;
        padding: 10px;
    }

    #close {
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #fff;
        font-size: 20px;
    }

    #banner {
        height: 40vh;
    }

    #product1 .product-container {
        justify-content: center;
    }

    #actionbanner {
        height: 30vh;
    }

    #sm_banner .banner-box {
        min-width: 100%;
        height: 25vh;
    }
}

@media (max-width: 477px) {
    #header {
        padding: 10px 30px;
    }

    #banner h1 {
        font-size: 30px;
    }

    #banner h4 {
        font-size: 14px;
    }

    #product1 .product {
        width: 30%;
        min-width: 380px;
    }

    #actionbanner h4 {
        font-size: 14px;
    }

    #actionbanner h2 {
        font-size: 17px;
    }

    #sm_banner .banner_box {
        width: 100%;
    }

    #sm_banner {
        padding: 15px;
    }

    #info_banner {
        padding-left: 25px;
    }

    #info_banner .form {
        width: 100%;
    }

    footer {
        display: flex;
        align-items:start;
    }

    footer .col {
        padding-bottom: 20px;
        width: 100%;
    }
}

/* shopping cart */
.cart-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    min-height: 100vh;
    width: 300px;
    background-color: plum;
    padding: 80px 0 10px 0;
    transition: 0.3s;
    max-height: 100vh;
    overflow-y: auto;
}

#cartcontent.active {
    right: 0px;
}

#navbar .cart .cart-content .cart-box img {
    width:75px;
    height: 80px;
    margin: 5px;
}

.cart-box {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    align-items:center;
    margin-top: 1rem;
    margin-left: 0.4rem;
    display: flex;
}

.cart-content button {
    width: 25%;
    padding: 10px 5px;
    font-size: 13px;
    text-align: center;
    text-decoration: none;
    border: 0;
    border-radius: 8px;
    color: #fff;
    background-color: #314959;
    cursor: pointer;
    font-weight: 700;
    margin: 1.5rem auto 0 auto;
}

.cart-content button:hover {
    background:#088178;
}

.cart-quantity {
    border-radius: 5px;
    border-color: transparent;
    width: 2.4rem;
    text-align: center;
    font-size: 1rem;
    margin-top: 0.2rem;
}

.cart-remove {
    font-size: 15px;
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: flex-end;
    margin: 1.5rem 0.5rem;
    border-top: 1px solid;
    text-align: center;
}

.total-title {
    font-size: 20px;
    font-weight: 600;
}

.total-price {
    margin-left: 7px;
    margin-right: 7px;
    margin-top: 2px;
}

#close-cart {
    display: initial;
    position: absolute;
    top: 30px;
    left: 12px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.cart-title h2 {
    text-align: center;
    color: black;
}

